extends layout 

block content 
    p Username - #{user.username}
    p Age - #{user.age}
    p Email - #{user.email}
    p Question 1 Answer - 
    p Question 2 Answer - answer
    p Question 3 Answer - answer

    form(id="form" method="post" action="/editAccount")
        p 
            input(type="submit" value="Edit Details")