extends layout 

block content 
    p Username - this user's name 
    p Age - age
    p Email - email 
    p Question 1 Answer - answer
    p Question 2 Answer - answer
    p Question 3 Answer - answer