extends layout 

block content 
    form(id='form' method="post" action="/editAccount")
        p Username 
            input(type="text" name="username" value = user.username)
        p Password 
            input(type="text" name="password")          
        p Email  
            input(type="text" name="email" value = user.email)    
        p Age 
            input(type="text" name="age" value = user.age)    
        p Question 1 - What?
            select(name="questionOneAnswer")
                option(value="option1") uh
                option(value="option2") wha-
                option(value="option3") whuhhh
                option(value="option4") doo wahhhh
        p Question 2 - Did OJ Simpson do it?
            select(name="questionTwoAnswer")
                option(value="option1") Yes
                option(value="option2") No
        p Question 3 - Is the government controlled by Lizards?
            select(name="questionThreeAnswer")
                option(value="option1") Yes
                option(value="option2") No
                option(value="option3") *lizard sounds*
        p 
            input(type="submit" value="Confirm")