extends layout 

block content 
    p(name="indicator") this is where it will say if you are signed in or not 
    form(id="form" method="get" action="/login")
        p 
            input(type="submit" value="Account")
    form(id="form" method="get" action="/create")
        p 
            input(type="submit" value="Create new account")