extends layout 

block content 
    p(name="indicator") Account button brings you to account details if you are logged in, or log you in otherwise. 
    form(id="form" method="get" action="/login")
        p 
            input(type="submit" value="Account")
    form(id="form" method="get" action="/create")
        p 
            input(type="submit" value="Create new account")

