html{
    background-color: crimson;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header
{
    background-color: #151515;
}
body
{
    margin: 10;
    align-content: center;
    text-align: center;
}
canvas
{
    border: whitesmoke;
    border-width: 25px;
}
.leftBox
{
    display: inline-block;
    padding: 5px;
    border: whitesmoke;
    background-color:darkred;
    border-width: 10px;
    border-radius: 5px;
    text-align: left;
    width: 500px;
}